md-dialog.add-game(flex-xs="90", flex="90", flex-lg="70", flex-gt-lg="60")
  md-dialog-content
    form(md-form-validator, ng-submit="$ctrl.save()", novalidate)
      md-content.md-inline-form(layout="column")
        md-toolbar
          .md-toolbar-tools
            h2 Add Game To Catalog

        md-content(layout-padding)
          div(layout="column")
            
            md-input-container(flex)
              label Title
              input(name="title", required, type="text", ng-model="$ctrl.data.title")
                
            md-input-container(flex)
              label Year
              input(name="title", required, type="number", ng-model="$ctrl.data.year")                

            md-input-container
              label Console
              md-select(name="course", ng-model="$ctrl.data.console", required)
                md-option(ng-repeat="item in $ctrl.consoles", value="{{ item }}") {{ item }}

            div(layout="row")
              md-switch(flex, ng-model="$ctrl.data.completed") Completed
              mdp-date-picker(flex ng-if="$ctrl.data.completed" ng-model="$ctrl.data.dateOfCompletion", mdp-open-on-click, name="dateOfCompletion", mdp-format="DD/MM/YYYY", mdp-placeholder="Date of Completion")
              
            md-input-container(flex)
              label Personal Notes
              input(name="personalNotes", type="text", ng-model="$ctrl.data.personalNotes")

        md-dialog-actions(layout="row")
          md-button.md-raised(type="button", ng-click="$ctrl.cancel()") Cancel
          span(flex)
          md-button.md-raised.md-accent(type="submit") Add
