md-card.catalog(layout="column", style="height: 100vh")
  md-toolbar.md-hue-2(flex="none")
    div.md-toolbar-tools
      md-button.md-icon-button
        md-icon(md-svg-icon="format-list-bulleted-type")
      h2 Game Catalog
      span.flex
      md-button(add-game on-done="$ctrl.loadData")
        md-icon add_circle_outline
        | &nbsp; Add Game

  md-card-content(flex="none")
    md-list(flex='')
      md-list-item.md-3-line(ng-repeat="item in $ctrl.games | orderBy:'year'")
        img.md-avatar(ng-src="{{ item.image }}", alt="{{ item.title }}")
        .md-list-item-text(layout="column")
          h3.title {{ item.title }}
          p <strong>Console:</strong> {{ item.console }}
          p <strong>Year:</strong> {{ item.year }} ({{ item.year | ageFilter }})
          p <strong>Completed:</strong> {{ item.completed? 'yes' : 'not yet' }}
          p(ng-if="item.completed") <strong>Date of Completion:</strong> {{ item.dateOfCompletion | date:'dd/MM/yyyy' }}
          p <strong>Personal notes:</strong> {{ item.personalNotes }}
          md-divider
