md-card(layout="row", style="height: 100vh")
  md-card-content
    h2 Welcome to MyGames
    p Keep track of all the videogames you own, for free, for ever.
    
    md-button.md-primary(ng-href="#/catalog")
      md-icon(md-svg-icon="format-list-bulleted-type", size="48")
      | &nbsp; View current catalog
    
