doctype
html(lang="pt-br", ng-app="App")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    base(href="#/")

    title MyGames - Tanslucent Challenge
    style.
      [ng-cloak], .ng-cloak { display: none; }

    link(rel="stylesheet", href="css/libs.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

  body(layout="column", ng-controller="AppCtrl as $appCtrl", ng-cloak)

    md-toolbar(layout="row")
      .md-toolbar-tools
        md-button.md-icon-button(ng-click="$appCtrl.toggleSidenav('left')")
          md-icon(aria-label="Menu", md-svg-icon="menu")
        h1 MyGames
    
    div(layout="row", flex)
      md-sidenav.md-sidenav-left.md-whiteframe-4dp(ng-click="$appCtrl.toggleSidenav('left')", layout="column", md-component-id="left")
        md-button.md-primary(ng-href="#/")
          md-icon(md-svg-icon="view-dashboard", size="24")
          | &nbsp; Home
        md-button.md-primary(ng-href="#/catalog")
          md-icon(md-svg-icon="format-list-bulleted-type", size="24")
          | &nbsp; Catalog          
        
      md-content.main(flex, layout="column")
        ng-view#main(layout="column", flex)
      
    
    script(src="js/libs.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js")
    script(src="js/all.min.js")
