.catalog {
  .md-avatar {
    border-radius: 2px;
    width: 80px;
    height: 80px;
    background: linear-gradient(to right, #56ab2f, #a8e063);
    color: #fff;
    font-weight: bold;
    padding: 1rem;
  }

  md-list-item {
    padding: 1rem;

    .md-list-item-text h3 {
      font-size: 1.1rem;
      color: darken(#a8e063, 20%) !important;
      font-weight: bold;
    }

    &:first-of-type {
      padding: 0 1rem 1rem 1rem;
    }

    strong {
      background-color: #a8e063;
      border-radius: 2px;
      display: inline-block;
      color: darken(#a8e063, 35%);
    }
  }

  md-list md-list-item.md-3-line .md-list-item-text p {
    color: #444;
  }
}
